* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
}

#calcBody {
    height: 630px;
    border-radius: 20px;
    min-width: 400px;
    width: 400px;
    display: flex;
    flex-flow: column;
    border: 2px green solid;
    background-color: gray;
    padding: 48px 24px 16px 24px;
    gap: 15px;
}

#btnBody {
    border-radius: 10px;
    flex-basis: 500px;
    display: flex;
    flex-wrap: wrap;
}

.btnClass {
    height: 75px;
    width: 75px;
    background-color: lime;
    border-radius: 25px;
    margin: 6px;
}

.b15 {
    background-color: lime;
    border-radius: 25px;
    width: 75px;
    height: 162px;
}

.workingBtn {
    border: 5px black solid;
}

.hBtn {
    display: flex;
    border-width: 0px;
}

#display {
  
    flex-basis: 135px;
    background-color: lightblue;
    border-radius: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 30px;
    padding: 0 20px;
}

.selected {
    background-color: rgb(87, 197, 233);
}
